body{
    text-align: center;
    background: orange;
}

img{
    width: 350px;
}

h2{
    color:orange;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td{
    border: 2px solid orange;
}

#buttons{
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
}

#flip, #clear{
    font-size:25px;
    border-radius:25px;
    color: aliceblue;
}

#flip:hover{
    color:rgb(212, 255, 0);
    background-color:blueviolet;
}

#flip{
    background-color:blue;
}

#clear{
    background-color:orange;
}

#clear:hover{
    color:black;
    background-color: aqua;
}

#game-area{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:white;
}